* {
  font-family: Helvetica;
  font-weight: 400;
}
body {
  background-image: url(img/fundo-de-papel-de-espaco-de-design-texturizado_53876-33833.jpg);

}

#placar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#jogador, #computador {
  position: relative;
  flex-grow: 1;
  width: 200px;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

#jogador {
  background-color:transparent;
  color: #000;
  border: 2px solid #000;
}
#computador {
  background-color: #000;
  
}
#vs {
  font-size: 40px;
  text-align:center;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
#jognome, #computador-nome {
  margin: 0;
  padding: 0;
}
#jognome {
  text-align: left;
}

#computador-nome {
  text-align: right;
}

#jogpontos {
  position: absolute;
  top: 8px;
  font-size: 32px;
  right: 20px;
}

#comppontos {
  position: absolute;
  top: 8px;
  font-size: 32px;
}

ul#escolha, ul#computador-escolha {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul#escolha li, ul#computador-escolha li{
  display: inline;
  padding-right: 15px;
}

ul#escolha li a, ul#computador-escolha li a{
  opacity: 1;
}

ul#escolha li a:hover {
  opacity: 0;
}

ul#escolha li a img, ul#computador-escolha li a img{
  max-width: 80px;
}

#result {
  background-color: #000;
  color:#fff;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0; 
  font-size: 32px;
}
 #titulo {
   text-align: center;
   border: 1px double #000;
   border-radius: 5px;
   margin-bottom: 40px;
   padding: 20px;
 }


 @media only screen and (min-width: 600px) {
  /* For desktop: */
  body {
    background-image: url(img/textura-piso-de-pedras-uniformes_1203-2140.jpg);
  }
  #computador {
    background-color:gray;
    color: #000;
    border: 2px solid #000;

  }
  #jogador {
    background-color: #000;
    color: #fff;
    
  }
  #titulo {
    text-align: center;
    border: 1px double #000;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: gray;
  }
}
